* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: #b3bcc5;
    font-size: 14px;
}
html, body, .wrap {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #eee;
}
input,button{
    outline:none;
    background-color:none;
    
}