.wrap header {
    height:70px;
    line-height:70px;
    background:#354457;
}
.wrap header .logo {
    display:flex;
    align-items: center;
    padding-left:20px;
    
}
.wrap header .logo img{
    width:30px;
    height:30px;
    margin-right:5px;
}

.wrap .left-menu{
    float:left; 
    width:200px;
    height:calc(100% - 70px);
   
    background:#4d5e70;
    box-sizing:border-box;
}
.wrap .left-menu dt{
    height:40px;
    line-height:40px;
    padding-left:10px;
}

.wrap .left-menu dd{
    height:40px;
    line-height:40px;
    padding-left:20px;
    cursor:pointer;
    
}
.wrap .left-menu dd.active{
    background-color:#fff;
   
}

.wrap .right-content{
    margin-left:200px;
}
.wrap .right-content .content-box{
    display:none;
}
.wrap .right-content .content-box:first-child{
    display:block;
}
.wrap .right-content  form{
    width:300px;
    /* border:1px solid; */
    margin:50px auto;
    
}
.wrap .right-content  form p{
    height:40px;
    line-height:40px;
    text-align:right;
    color:#000;
    margin:10px 0;
    width:100%;
}

.wrap .right-content  form input[type="text"]{
    padding-left:5px;
    width:250px;
    height:30px;
    box-sizing: border-box;
}
.wrap .right-content  form p:nth-of-type(2){
   text-align:left;
   text-indent: 1em;
}
.wrap .right-content  form p:nth-of-type(2)label{
    color:#000;
    cursor: pointer;
}
.wrap .right-content  form p:nth-of-type(8){
    text-align:center
}
.wrap .right-content  form p .btn{
    background-color:skyblue;
    width:80px;
    height:30px;
    color:#eee;
    border:none;
    border-radius:10px;
}
.right-content table{
    /* border:1px solid; */
    width:100%;
}
.right-content table thead{
    background-color:#e3e8ee;
}
.right-content table tr th{
    font-weight: bold;
}
.right-content table tr th,.right-content table tr td{
    color:#000;
    text-align:center;
    height:35px;
}
.right-content table tbody{
    background-color:#fff;
}
.right-content .list-btn{
    width:50px;
    height:30px;
    cursor: pointer;
    border:none;
    border-radius:5px;
}
.right-content #list-edit{
    background-color:green;
}
.right-content #list-remove{
    background-color:red;
}

.wrap .right-content .model {
    display:none;
    background-color:rgba(0,0,0,.3);
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width:100%;
    height:100%;
    
}
.wrap .right-content .model .model-content{
    position:absolute;
    width:400px;
    height:460px;
    left:50%;
    top:50%;
    margin-left:-200px;
    margin-top:-230px;
    background-color:#fff;
    /* margin:0 auto; */
}
.wrap .right-content .model .model-content form{
    margin:0 auto;
}
.wrap .right-content .model .model-content form h3,.wrap .right-content .model .model-content form span{
    margin-top:20px;
    color:#000;
    margin-left:-10px;
    font-size:25px;
}
.wrap .right-content .model .model-content form span{
    cursor:pointer;
}
.wrap .right-content .model .header{
    display:flex;
    justify-content: space-between;
}

.wrap .right-content .page{
    margin : 50px auto;
    text-align:center;
}
.wrap .right-content .page .page-btn{
    display:inline-block;
    width:60px ;
    height:30px;
    line-height:30px;
    border:1px solid;
    cursor: pointer;
    font-weight:bold;
    margin-left:20px;
    color:#222;
}
